* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone-content img {
    height: 50rem;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.base-card {
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.profile-content, .sign-up-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.profile-content {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ccc;
}

.profile-photo img {
    height: 6rem;
}

.btn-login {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.btn-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
    margin-bottom: 5px;    
}

.btn-change-account, .btn-sign-up {
    color: #0095f6;
}

.get-apps-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-apps-btn-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.get-apps-btn {
    height: 3rem;
    width: 10rem;
}

.get-apps-btn img {
    width: 100%;
}